.chat-button {
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 30px;
	border-color: black;
	border-style: visible;
	border-radius: 15px;
}

.chat-button:hover{
	color: white;
	background-color: green;
}

.shadow {
 	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}