html, body {
  height:90%;
  font-family: "helvetica", sans-serif;
  text-align: center;
}

.course_row {
	padding-bottom: 15px;
}

.course_list {
	padding-bottom: 15px;
	padding-top: 15px;
}

.lecture_list {
	padding-bottom: 15px;
	padding-top: 15px;
}

.lecture_row {
	padding-bottom: 15px;
}

.login-box {
	padding: 15px;
	margin-top: 15%;
	border-radius: 15px;
}

.shadow {
	box-shadow: 10px 10px 5px grey;
}

.search-result {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 25px;
	border-radius: 10px;
}

hr.solid {
    border-top: 2px solid #ddd;
    width: 95%;
    margin: 3px 0px 10px 0px;
}

