html, body {
  padding-top: 25px;
  height:100%;

html,body,.container-fluid {
    height:100%;
}

body {
>>>>>>> Stashed changes
  font-family: "helvetica", sans-serif;
  text-align: center;
}

<<<<<<< Updated upstream
.course_row {
	padding-bottom: 15px;
}

.course_list {
	padding-bottom: 15px;
	padding-top: 15px;
}

.lecture_list {
	padding-bottom: 15px;
	padding-top: 15px;
}

.lecture_row {
	padding-bottom: 15px;
}

.login-box {
	padding: 15px;
	margin-top: 15%;
	border-radius: 15px;
}

.shadow {
	box-shadow: 10px 10px 5px grey;
}

.search-result {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 25px;
	border-radius: 10px;
}

hr.solid {
    border-top: 2px solid #ddd;
    width: 95%;
    margin: 3px 0px 10px 0px;
}

.departments{
	padding-top: 20px;
	padding-bottom: 20px;
}

.department-button {
	margin-right: 15px;
	margin-top: 15px
}

.courses {
	adding-top: 20px;
	padding-bottom: 20px;
}

.chat-box {
	height: 60%;
	margin-top: 20px;
	padding: 10px;
	border-radius: 15px;
	overflow-y: scroll;
}

.message-box {
	height: 20%;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 15px;
}

.message {
	margin-bottom: 1px;
}
=======
.course_list {
	height: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
}

.course_div {
	padding-top: 15px;
	padding-bottom: 15px;
}

.course_row {
	padding-bottom: 15px;
}

.loader {
	border: 16px solid #f3f3f3; /* Light grey */
	border-top: 16px solid #17a2b8; /* Blue */
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }