<div class="container-fluid shadow bg-white chat-box" id ='chat-div'>
	<!-- <div class="row text-light message">
		<div class="col-4 bg-secondary ">
			<h5><i>UserName - Type:</i></h5>
		</div>
		<div class="col-8 bg-light text-dark text-right">
			<span>Some message or something</span>
		</div>		
	</div> -->

</div>

<div class="container bg-dark message-box shadow">
	<div class="row">
		<div class="col-9">
			<input type="text" class="form-control" placeholder="Send a message!" id="message">
		</div>
		<div class="col-3" style="margin-bottom: 20px">
			<button class="btn btn-info btn-block" onclick="sendMessage()">Send</button>
		</div>
	</div>
	
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='JS/chat.js') }}"></script>
