<div class="row course_row text-light">
	<div class="col-12 text-center">
		<h3>Course List for User Name:</h3>
	</div>
</div>
<div class="row course_row">
	<div class="col-12">
		<button class="btn btn-block btn-light">Course 1</button>
	</div>
</div>
<div class="row course_row">
	<div class="col-12">
		<button class="btn btn-block btn-light">Course 2</button>
	</div>
</div>	
<div class="row course_row">
	<div class="col-12">
		<button class="btn btn-block btn-light">Course 3</button>
	</div>
</div>
<div class="row course_row">
	<div class="col-12">
		<button class="btn btn-block btn-light">Course 4</button>
	</div>
</div>	
