<!doctype html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
		
		<title>Easy Lectures - {{ lec }} </title>
		

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	</head>
	
	<body>
		
		{% include "navbar.html" %}
		
		<div class="container-fluid bg-light h-100">
			
			<div class="row bg-secondary text-light text-center sticky-bottom" style = "padding-top: 15px; padding-bottom: 15px">
				<div class="col-12">
					<h3>{{ dep }} {{ cno }}: {{ lec.replace("_", " ") }}</h3>
				</div>
			</div>

			<div class="row text-center">
				<div class="col-12" id="video-container" style = "padding-top: 25px; padding-bottom: 25px">
					
				</div>
			</div>
			<div class="row bg-dark text-light">
				<div class="col-6" id="search_keyword" style = "padding-top: 25px; padding-bottom: 15px">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">Search for keyword(s):</span>
						</div>
						<input type="text" class="form-control" name="keyword" id="keyword">
						<div class="input-group-append">
							<button type="submit" class="btn btn-info" onclick="search_keyword()">Search!</button>
							<script>$(document).keypress(
							function(e) {
								if(e.which == 13 && $('#keyword').is(':focus')) {
									search_keyword()
								}
								else if (e.which == 13 && $('#message').is(':focus')) {
									sendMessage()
								}
							})
							</script>
						</div>					
					</div>
				</div>
				<div class="col-6 text-center" id="search_keyword" style = "padding-top: 15px;">
					<h1>Chat:</h1>					
				</div>
			</div>
			<div class="row bg-secondary text-light">
				<div id="results-container" class='col-6 bg-secondary text-light' style='min-height: 320px; max-height: 320px'>

				</div>
				<div class="col-6 bg-secondary">
					{% include "chat.html" %}
				</div>
			</div>
		</div>

	</body>
	
</html>


<script>
	var jsonData = {{ data|safe }}
</script>

<script src="{{ url_for('static', filename='JS/lecture_manager.js') }}"></script>
