<html>
    <h1>Lecture Upload</h1>

    <p>Please Upload .mp4 videos of lecture and .wav of lecture</br>
        in the format "CS-2505-Intro to GCloud(.mp4/.wav)"</p>
    
    <br>
  <body>
    <form action="upload_audio" method="POST" enctype="multipart/form-data">
      <p>Upload Audio File</p>
      <input type="file" name="file">
      <p></p>
      <input type="submit" name="submit" value="Submit">
    </form>
    <form action="upload_video" method="POST" enctype="multipart/form-data">
      <p>Upload Video File</p>
      <input type="file" name="file">
      <p></p>
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html> 